//SEARCH BAR STYLES//
@import 'searchbarstyles';

//HOME PAGE STYLES//

.home-user-image {
//  border: 1px solid black;
  margin-top: -20px;
  width: 100%;
  position: fixed;
  background-color: white;
  text-align: left;
  padding: 10px;


}
.search-bar{
  margin-top: 150px;
}
.home-user-search {
  text-shadow: 2px 2px 2px #636363;
}

.container-fluid {

  float: left;
//  text-align: left;
  border: 1px solid black;
  padding: 10px;
  margin: 0;
  padding-bottom: 20px;
}

//USER SHOW STYLES//

.user-show-image {
  float: left;
  text-align: left;
}