$default-bgcolor: rgba(71,95,93, 1);


//NAV BAR//

.nav-bar{
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
//  margin-left: -2px;
  background-color: $default-bgcolor;
  color: white;


  ul{
    float: right;

  }

  li{
    display: inline-block;
    padding: 0px 5px;
  }

  a:link, a:visited{
    color: white;

    text-decoration: none;

  }

  h1 {
    display: inline-block;
    float: left;
    padding: 0px 5px;
    margin-top: 10px;
    text-shadow: 2px 2px 5px black;
  }

  .WelcomeMessage {
    display: inline-block;
    float: left;
  }


}

//BODY STYLES//

body{
  color: #2B5F5C;
  text-align: center;
  padding-top: 50px;
}

.fullpage{
  margin: -50px;

}

//SECTION ONE STYLES//

#sec1{
  background-image: image_url('bg-2.jpg');
  background-size: cover;
//  background-color: #213B2A;

  .welcomeHeader{
    width: 30%;
    margin-top: -300px;
    float: right;
    background-color: rgba(255,255,255, .7);
//    font-weight: 700;
  }


}


//SECTION TWO STYLES//

#sec2{
//  background-color: $default-bgcolor;
  background-image: image_url('about.jpg');
  background-size: cover;

  .s2Content {
//    color: white;
//    border: 1px solid black;
    width: 95%;
    margin: 0 auto;
    height: 70%;
    padding: 5px;

    background-size: cover;


    .about1 {
      float: right;
      width: 40%;
//      border: 1px solid black;
      border-radius: 5px;
      margin-right:10px;
      margin-top: 15%;
      background:rgba(255,255,255, .6) ;

      p{
        text-align: center;
        padding: 5px;




      }
    }



    .sitePerks{
      background-color: rgba(255,255,255, .7);
      height: 32%;
      width: 95%;
      clear: both;
      position: absolute;
      bottom: 0;
      padding-top: 10px;

      ul {

      }

      li {
        color: #2B5F5C;
        display: inline-block;
//        border: 1px solid black;
        width: 29%;
         p{
          text-align: center;
          color: #2B5F5C;
        }

      }
    }
  }
}


//SECTION THREE STYLES//

#sec3{
  @import 'formstyle';
  background-color: $default-bgcolor;

  .s3content{
    width: 95%;
    height: 80%;
    margin: 0 auto;
    color: #4DABA6;

    .s3Info{
      height: 40%;
      width: 40%;
      background-color: rgba(255,255,255, .7) ;
      padding: 10px;
      margin-left: 30px;
      float: left;


      h3 {

        color: #2B5F5C;
        text-align: justify;


      }
    }

    #signinform {
      height: 40%;
      width: 20%;
      background-color: rgba(255,255,255, .7) ;
      padding: 10px;
      margin-left: 30px;
      border: 1px solid black;

    }
  }

  }





//FOOTER//

.Footer{
  float: left;
  color: white;
  margin: 0 auto;
  width: 100%;
  height: 35px;
  position:absolute;
  bottom:0;
  left:0;
  background-color: $default-bgcolor;
  text-align: left;

  p{
    margin-top: 10px;
    margin-left: 5px;
    display: inline-block;
  }
ul {
  float: right;
}

  li{
    display: inline-block;
    color: white;
    margin-top: -50px;
    padding: 3px;
  }

}